
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  /*vertical-align: baseline;*/ }

html {
  -webkit-text-size-adjust: none;
  word-wrap: break-word; }

body, h1, h2, h3, p, dl, dd, ol, ul, th, td, form, fieldset, input, button, textarea {
  margin: 0;
  padding: 0; }

h1, h2, h3 {
  font-size: 100%; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  font-size: inherit; }

fieldset, img {
  border: 0; }


input, button, textarea, select {
  font-size: 100%; }

body, input, button, textarea, select, option {
  font-size: normal; }

a, input, textarea {
  text-decoration: none;
  outline: 0;
  -webkit-tap-highlight-color: transparent; }

li, img, label, input {
  vertical-align: middle; }

var {
  font-style: normal; }

ins {
  text-decoration: none; }

body,html {
  font-family: "微软雅黑";
  color: #3f3f3f;

  font-size:12px;
}
input[type="text"], input[type="password"], div, ul, li, input, a,h3 {
  box-sizing: border-box;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
/*  -webkit-appearance: none;*/ }

.clearfix:after {
  clear: both;
  content: "";
  display: block;
  font-size: 0;
  height: 0;
  overflow: hidden;
  display: none;
  visibility: hidden; }

.clearfix {
  zoom: 1; }

/* for IE6 IE7 */
a:link,
a:visited {
  text-decoration: none;
  color: #4da800; }

a:active,
a:hover {
  color: #4da800; }
  /*icon*/
@font-face {
  font-family: 'icon';
  src:url('../fonts/icomoon.eot?-m44vx');
  src:url('../fonts/icomoon.eot?#iefix-m44vx') format('embedded-opentype'),
    url('../fonts/icomoon.woff?-m44vx') format('woff'),
    url('../fonts/icomoon.ttf?-m44vx') format('truetype'),
    url('../fonts/icomoon.svg?-m44vx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
i{
  float: left;
  font-style: normal;
}
i::before{
  font-family: 'icon';
}
/* 公共类*/
.tc{
  text-align: center;
}
.tr{
  text-align: right;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.po{
	position: absolute;
}
.pr{
	position: relative;
}
.vm{
	vertical-align: middle;
}
.pd{
  padding:0 20px;
}
.ov{
  overflow: hidden;
}
.ot{
  
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dk{
  display: block;
}
.l_all{
  width:100%;
  overflow: hidden;

}

/*左边导航*/
.l_left{
  width:100%;
  height: auto;
  min-height: 1000px;
  background:#1b1e24;
}
.l_left_heard,.l_right_heard{
  width:100%;
  height:60px;
}
.l_left_heard{
    background:#22262e url(../images/logo.png) no-repeat 20px center;

}
.l_dianming{
  width:100%;
  padding:25px 12px;
}
.l_dianming dt{
  width:60px;
  height:60px;
  border-radius:50%;
}
.l_dianming dd{
  width:150px;
  height:72px;
  padding-top:3px;
  line-height:25px;
  margin-left:10px;
  font-size: 16px;
  font-weight: bold;
  color:#fff;
 
}

.menu_list{
  width:100%;
  overflow: hidden;


}
.menu_head{
  height:47px;
  width:auto;
  padding-right:20px;
  line-height:47px;
  font-size:14px;
  color:#8b91a0;
  display: block;
   margin-right:10%;
  padding-left:50px;
  cursor:pointer;
  position:relative;
  font-weight:0;
  font-family: "微软雅黑";
}

.menu_head:hover/*导航滑上的效果*/{
  color: #fff;
  font-size:16px;

}
.menu_head b{
  font-family: "Arial";
  font-size: 15px;
  font-weight: bold;
  height:20px;
  width:20px;
  line-height:20px;
  text-align: center;
  background-color: #ff604f;
  color: #fff;
  top:13px;
  left:73%;
   
  position: absolute;
}
.menu_head{
    background:url(../images/pro_left.png) center right no-repeat;

}
.menu_list .current{
  background:url(../images/pro_down.png) center right  no-repeat;
  color:#fff;
}
.menu_body{
   width:100%;
   display: none;
  background: #22262e;
  padding: 5px 0;
}
.menu_body a{
  display:block;
  padding:0 20px 0 50px;
  height:30px;
  line-height:30px;
  color:#B6C0C7;
  background:#22262e;
  text-decoration:none;
  margin: 5px 0 ;
}
.menu_body a.cur{
   color: #EBF0F5;
    font-weight: 600;
    background-size: 13px;
}
.menu_body a:hover{
   color: #EBF0F5;
  text-decoration:none;
  background: #1b1e24; 
  font-weight: 600;
}
.menu_head i{
  width:28px;
  height:auto;
  left:10px;
  position: absolute;
  font-size:18px;
}
.menu_i1 i:before{
    content: "\f015";
     left:7px;
     position: absolute;
}
.menu_i2 i:before{
    content: "\f00a";
    top:3px;
     left:5px;
    font-size:21px;
    position: absolute;
}
.menu_i3 i:before{
    content: "\e602";
    top:5px;
     left:2px;
    font-size:25px;
    position: absolute;
}
.menu_i4 i:before{
    content: "\f004";
    left:5px;
    position: absolute;
}
.menu_i5 i:before{
    content: "\f219";
     top:4px;
     left:1px;
    font-size:26px;
    position: absolute;
}
.menu_i6 i:before{
    content: "\f135";
    left:5px;
   
    position: absolute;
}
.menu_i7 i:before{
    content: "\f02b";
    left:5px;
   
    position: absolute;
}
.menu_i8 i:before{
    content: "\e605";
    left:3px;
   
    position: absolute;
}
.menu_i9 i:before{
    content: "\f0e8";
    left:3px;
   
    position: absolute;
}
.menu_i10 i:before{
    content: "\e600";
    left:3px;
   
    position: absolute;
}
.menu_i11 i:before{
    content: "\f038";
  
   font-size:23px;
   top:4px;
    position: absolute;
}
.menu_i12 i:before{
    content: "\e606";
     left:4px;
    position: absolute;
}
.menu_i13 i:before{
    content: "\f085";
     left:4px;
    position: absolute;
}


/*右边内容*/
.l_right{
  width:100%;
  height: auto;
  background:#e6e8ea;

}
.l_right_heard{
  background:#fff;
  padding:0 20px;
  line-height:60px;
  position: fixed;
  z-index: 99991;
  box-shadow: 0 -2px 13px rgba(0,0,0,.8); /*底边阴影*/ 
}
.l_top_left{
  width:50%;
  height:60px;
  line-height:60px;
}
.l_top_left ul li{
  float: left;
  width:auto;
}
.l_top_left ul li.top_li{
  height:22px;
  max-width:350px;
  padding-left:10px;
  margin-top:17px;
  border-left:1px solid #cccccc;
}
.l_top_left ul li.top_li i{
  position: absolute;
  top:-4px;
  left: 160px;
}
.l_top_left ul li.top_li i:before{
  content: "\f002";
}
.top_input{
  width:250px;
  height:22px;
  border:none;
  padding-left:10px;
}
.l_top_left ul li i{
  width:25px;
  height:25px;
  float: left;
  margin:0 10px;
  font-size:20px;
}
.l_top_left ul li a,.l_top_right a{
  color:#4c5264;
}
.l_top_left ul li a:hover,.l_top_right a:hover{
  color: #4da800;
}
.l_top_left ul li.top_i i:before{
  content: "\f015";
   position: absolute;

  top:-2px;
}
.l_top_left ul li.top_i2 i:before{
  content: "\f01e";
  position: absolute;
 
  top:-3px;
}

.l_top_left ul li.top_i3 i:before{
  content: "\f219";
  font-size:28px;
  position: absolute;
  left:110px;
  top:3px;
}
.l_sousuo{
  width:30px;
  height:30px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: bold;
  background: #fff;
  opacity: 0;
  z-index: 9;
  outline: medium;
  border:none;
  cursor: pointer;
  color:#fff;
  font-size:16px;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
.top_b{
  width:22px;
  height:22px;
  top:8px;
  left:42px;
  text-align: center;
  line-height:22px;
  border-radius: 50%;
  background-color:#ff604f;
  color: #fff;
}

.l_top_right{
  min-width:290px;
  height:60px;
  line-height:60px;
}
.l_top_right h2{
  min-width:200px;
  color :#555;
}
.l_top_right span{
  width:40px;
  height: 40px;
  border-radius: 50%;
  margin:10px 20px;
}

.l_top_right i{
  width:20px;
  height:20px;
  font-size:20px;
  position: absolute;
  right:10px;
}
.l_top_right i:before{
  content: "\f011";
  font-size: 28px;
  position: absolute;
  top: 5px;
  right: 5px;
}

/* 模板 */
.l_moban{
  width:100%;
  padding:75px 20px 0 20px;
  
}

.l_moban_h2{
  width:100%;
  padding-bottom:20px;
  color:#929397;
}
.l_moban_h2 a{
  color:#989898;
}
.l_moban_h2 b{
  color: #706d74;
}

/* 翻页 */
.h_pages
{
  width:400px;
  margin:30px auto;
}

.h_pages *
{
  margin-right: 3px;
  padding:0 10px;
  height:28px;
  line-height: 28px;
  border-radius: 4px;
  color:#888888;
  border:1px solid #dddddd;
}
.h_pages a 
{
  color:#888888;
}
.h_pages .cur,.h_pages a:hover 
{
  color: #fff;
  background: #78cd51;
}
/*弹框*/
.theme-popover-mask{
  z-index:999999;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow: hidden;
  background:#000;
  opacity:0.3;
  filter:alpha(opacity=30);
  -moz-opacity:0.3;
  display:none;
}
.theme-popover{
  z-index:999999;
  position:absolute;
 
/*  left:50%;
*/  width:100%;
  overflow:hidden;
  padding-bottom:20px;
 /* margin-left:-450px;
  border-radius:5px;*/
  background-color:#fff;
  display:none;
  background:#fff;
}
.theme-poptit{
  padding:0px 20px;
  height:50px;
  line-height:50px;
  width:100%;
  font-size:18px;
  position:relative;
  border-bottom:1px solid #ddd;

}
.theme-poptit .close{
  color:#999;
  color: #dddddd;
  font-weight:bold;
  font-size:36px;
  display: inline-block;
  text-shadow:0 1px 0 #ddd;
}
.theme-poptit h3{
  color:#797979;
}
.popbod{
  width:100%;
  overflow: hidden;
  padding:50px;
}
.popbod_bottom{
  width:100%;
  padding:25px;
  border-top:1px solid #e5e5e5;
}
.buttom_del{
  width:74px;
  height:34px;
  cursor: pointer;
  text-align: center;
  line-height:34px;
}
.buttom_del_bg{
  background:#eee;
  color: #7c7979;
  float:left;
  margin:0 20px 0 330px;
  border:1px solid #e6e6e6;
}
.buttom_del_bg2
{
  background:#4da800;
  color: #fff;
  float: left;
}


